@import '~@microsoft/sp-office-ui-fabric-core/dist/sass/SPFabricCore.scss';

.poll {
  @include ms-Grid-row;
  @include ms-font-xl;
  padding-left: 20px;
}

.voteNow{
  margin : 10px 10px 10px 0px;
}

.showResults{
  margin: 10px;
}